.dashboard-container {
  height: 100vh;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav-content {
  padding: 16px;
}

.current-time {
  margin-left: 16px;
}
.dashboard-sidebar{
  width: 200px;
}
