<mat-drawer-container class="dashboard-container" autosize>

  <!-- SIDEBAR -->
  <mat-drawer #drawer class="dashboard-sidebar" mode="side">
    <mat-nav-list>

      <a #homeLink="routerLinkActive"
      routerLinkActive
      [activated]="homeLink.isActive"
       routerLink="home" mat-list-item>inicio</a>

      <a a
      #usersLink="routerLinkActive"
      routerLinkActive
      [activated]="usersLink.isActive"
      routerLink="usuario" mat-list-item>usuario</a>
      <a  (click)="logout()" mat-list-item>cerrar sesion</a>


    </mat-nav-list>
  </mat-drawer>
  <!-- SIDEBAR -->

  <!-- CONTENIDO -->
  <div class="example-sidenav-content">
    <!-- TOOLBAR -->
    <mat-toolbar color="primary">
      <!-- Botón del menú... -->
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Menu</span>
      <span class="example-spacer"></span>
      <!-- Mostrar fecha y hora -->
      <span class="current-time">{{ today | date:'medium' }}</span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Favorite">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Share">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <!-- TOOLBAR -->



    <!-- CONTENIDO PRINCIPAL -->
    <div class="p-3">
      <router-outlet></router-outlet>

    <!--<app-usuarios></app-usuarios> -->

    </div>
    <!-- CONTENIDO PRINCIPAL -->
  </div>
  <!-- CONTENIDO -->
</mat-drawer-container>
